body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-size: 18px;
}

h4 {
    margin-top: 25px;
    color: #070063;
}

h2 {
    color: #3B56FF;
    text-align: center;
}
/*nav style */
nav {
    height: 80px;
    background: #fff;
    width: 100%;
}

nav img {
    height: 80px;
}

.logo {
    height: 100%;
}

.nav-main {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-item > ul {
    display: flex;
    margin: 0;
}

.nav-item > ul > li {
    list-style-type: none;
}

.nav-item a {
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #070063;
}

.nav-item a:hover {
    color: #ff530d;
    transition: 0.3s;
}
.logo-two {
    height:40px;
    width: 100%;
}
.logo-two-item img {
    height: 100%;
}
.logo-two-item {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
   
}
.logo-img>img {
    height: 35px;
    margin-left: 15px;
   
}
/*header*/

header {
    width: 100%;
    background-image: url('../img/witcom-systemy-header.png');
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

header h1 {
    font-size: 60px;
    text-shadow: 2px 2px 2px #1C6EA4;
}
header h2 {
    text-shadow: 2px 2px 2px #1C6EA4;
}

header h1,
header h2 {
    text-align: center;
    color: #fff;
}

.header-container {
    text-align: center;
}

/*button style */

.btn-orange {
    width: 200px;
    height: 50px;
    color: #fff;
    background: #ff530d;
    margin: 0 auto;
    border: 0px;
    margin-top: 50px;
    transition: 0.5s;
}
.btn-orange:hover {
   opacity:0.9;
}

.btn-blue {
    width: 200px;
    height: 50px;
    color: #fff;
    border: 0px;
    margin-top: 50px;
    background: #070063;
    transition: 0.5s;
}

.btn-blue:hover {
background: transparent;
border: 1px solid #070063;;
color: #070063;
}

/* grey color section background-grey*/

.grey-color {
    background: #f5f5f0;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

/* section white */

.white {
    padding-top: 80px;
    padding-bottom: 80px;
}

.icons {
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
}

.icons-item {
    max-width: 20%;
    text-align: center;
    padding: 10px;
}

.icons .icons-item i {
    color: #ff530d;
}

.bg-one {
    background-image: url('../img/fabryka.png');
    height: 70vh;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-wrapper {
    max-width: 1200px;
    text-align: center;
    color: #fff;
}

figure {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.white figure img {
    width: 100%;
}

/*offert-wrapper*/

.offert-wrapper {
    width: 100%;
    display: flex;
    margin-top: 15px;
    padding-bottom: 50px;
}

.offert-wrapper h5 {
    margin: 0;
    color: #413d88;
    font-weight: bold;
    margin-bottom: 20px;
}

.offert-wrapper figure {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ff530d;
    margin-right: 5px;
    color: #413d88;
    margin-bottom: 30px;
}

.offert-title p {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*contact-form section*/

.contact-form {
    height: 80vh;
    background: url('../img/hand-2111445_1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
}

.contact-form h2 {
    color: #fff;
}

form {
    padding-top: 80px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"],
textarea {
    background: transparent;
    margin: 10px;
    border: 0px;
    border-bottom: 1px solid #fff;
}

input[type="text"]::placeholder {
    color: #ff530d;
}

textarea::placeholder {
    color: #ff530d;
}

footer {
    background: #fff;
    color: #070063;
    padding: 80px 0 0px 0;
}

.footer-wrapper-item {
    margin-bottom: 15px;
}  
.footer-wrapper-item i {
    margin-right: 10px;
}

.offert-btn {
    width: 100%;
    text-align: right;
}

.offert-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
}

.offert-content .btn-orange {
    
    transition: 0.5s;
}

.offert-content .btn-orange:hover {
    background: #fff;
    color: #ff530d;
    border: 1px solid #ff530d;
}

.footer-social {
    width: 100%;
    height: 80px;
    background: #070063;
    color: #fff;
    margin-top: 80px;
}

.footer-social .container,
.footer-social .row {
    height: 100%;
}

.footer-social i {
    margin: 10px;
}

.footer-social-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



/*onas.html style */

.logo-two2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-two-item2 span img{
    height: 80px;
}

.logo2 img {
    height: 80px;
}
.p-content {
    text-shadow: 2px 2px 2px #1C6EA4;
}
.menu-mobile{
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-mobile {
   display: none;
}
.fa-phone {
    transform: rotate(90deg);
}
.about-action {
    margin-top:80px;
}.about-action::before {
    content: "";
    width: 20%;
    height: 1px;
   border-top: 1px solid #ff530d;
    display: block;
    padding-bottom: 80px;
    
   
    margin: 0 auto;
}