header.offert-header {
    height: 300px;
}

.products {
   padding-top: 80px;
   padding-bottom: 80px;
   
}
.products h3 {
    margin-bottom: 20px;
}

.products-img img {
    width: 100%;
}

.products p {
    font-size: 20px;
    color: #070063;
}

.products-info {
    margin-top: 30px;
    margin-bottom: 80px;
}
.products-info i {
    color: #ff530d;
}

.products-info::after{
    content: "";
    width: 20%;
    height: 1px;
   border-bottom: 1px solid #ff530d;
    display: block;
    padding-top: 50px;
    margin: 50px;
    margin-bottom: 50px;
    margin: 0 auto;
}

.products .product-content {
    color: #000;
}