@media(max-width: 960px) {
    .icons .icons-item i {
        font-size: 60px;

    }
    h4 {
        font-size: 1.2rem;
    }
    .icons-item {
        max-width: 33%;
    }
    .icons-item:nth-last-child(1), .icons-item:nth-last-child(2){
        max-width: 50%;
    }
}

@media(max-width: 768px){
    .nav-item {
        display: none;
        width: 100%;
        flex-direction: column;
        background: #fff;
        
    }
   .icons .icons-item-last {
        max-width: 50%;
    }
    .menu-mobile {
        display: block;
        
    }
    .mobile-hamburger {
        cursor: pointer;
    }
    .nav-main {
        flex-wrap: wrap;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-item > ul {
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        border-top: 1px solid #070063;
    }
    nav {
        height: auto;
             
    }
   
}

@media(max-width: 576px) {
    .icons {
        justify-content: center;
    }
    .icons-item {
        max-width: 100%;
    }
    .icons-item:nth-last-child(1), .icons-item:nth-last-child(2){
        max-width: 100%;
    }
    .contact-form {
        height: auto;
    }
    nav img {
        height: 80px;
    }
    .logo-two-item2 span img {
        height: 40px;
    }
}